#tooltip {
    background-color: #333;
    padding: .3rem;
    border-radius: 10px;
}

#tooltip p {
    padding: 0;
    margin: 0;
    text-align: center;
}

.cell:hover {
    stroke: #000;
    stroke-width: 2;
}